[client-server]

 
[mysqld]
symbolic-links            = 0
# # include all files from the config directory
; ; ; ; ; #
 
read_rnd_buffer_size      = 8M
net_buffer_length         = 16K
query_cache_size          = 32M
key_buffer_size           = 384M
table_definition_cache    = 600
thread_stack              = 128K
tmp_table_size            = 32M
binlog_cache_size         = 32K
innodb_buffer_pool_size   = 16M
read_buffer_size          = 4M
max_connections           = 151
sort_buffer_size          = 2M
table_open_cache          = 400
innodb_log_buffer_size    = 8M
join_buffer_size          = 128K
port                      = 3306
socket                    = /var/run/mysqld/mysqld.sock
datadir                   = /var/lib/mysql


[client]
port   = 3306
socket                    = /var/run/mysqld/mysqld.sock 